main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 50px;
}

#my-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100000;
    pointer-events: none;
}

h1 {
    text-align: center;
    color: whitesmoke;
}

header {
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: rgba(255, 30, 225, 0.8);
    font-size: 1em;
    width: 100%;
    max-width: 1000px;
    min-width: 250px;
    padding: 20px;
    margin: 10px 0px 30px;
    border-radius: 5px;
}

.div_player {
    position: absolute;
    left: 20px;
}

.div_player2 {
    position: absolute;
    right: 10px;
}

.score {
    padding: 1rem;
}

.score2 {
    padding: 1rem;
}

.player_header {
    text-align: center;
}

.div_botao {
    align-items: center;
}

.restart_button {
    display: block;
    width: 105px;
    padding: 10px;
    border-color: #00FFEF;
    background-color: rgb(2,0,133);
    color: whitesmoke;
    background-image: -webkit-linear-gradient(45deg, #00FFEF 50%, transparent 50%);
    background-image: linear-gradient(45deg, rgb(79, 170, 19) 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    border-radius: 5px;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    cursor: pointer;
  }
  .restart_button:hover {
    background-position: 0;
    }

.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 15px 0px;
    width: 100%;
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
    max-width: 1800px;
    margin: 0 auto;
}

.gridx10 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}


.card {
    aspect-ratio: 3/4;
    width: 80%;
    border-radius: 5px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
    }
    .cardx10 {
        width: 70px;
    }

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border: 2px solid rgb(50, 47, 255);
    border-radius: 5px;
}

.front {
    transform: rotateY(180deg);
}

.back {
    background-image: url('../images/card_background.jpg');
    background-position: center;
    backface-visibility: hidden;
}

.reveal-card {
    transform: rotateY(180deg);
}

.disabled-card {
    filter: saturate(0);
}

.active_player {
    text-shadow: 
    -1px -1px 0px #FFF, 
    -1px 1px 0px #FFF,      
     1px -1px 0px #FFF,    
     1px 0px 0px #FFF;
    font-weight: bold;
}

.winner_player {
    filter: drop-shadow(0 0 10px #32d632);
}

@media(max-width:800px){
    .grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px 0px;
        width: 100%;
        max-width: 1800px;
        margin: 0 auto;
    }
}

@media(max-width:400px) {
    header {
        font-size: 0.5em;
    }
    .restart_button {
        width: 80px;
        font-size: 1em;
    }
}

@media(max-width:300px) {
    header {
        font-size: 0.5em;
    }
    .restart_button {
        background-image: '../images/futuro.png';
        width: 70px;
        font-size: 1em;
    }
    .div_player {
        position: absolute;
        left: 10px;
    }
    
    .div_player2 {
        position: absolute;
        right: 0px;
    }
    .score {
        padding: 10px;
    }
    
    .score2 {
        padding: 5px;
    }
}